In [33]:
#import libraries
import pandas as pd
import numpy as np

In [34]:
#prepare excel file for input
FilePath = r"C:\Z\sampleExcel.xlsx"
SheetName = 'Sheet1'
Range = 'B:D'
RowsToSkip = 1
ColNameToRow = 'Col_C'
Delimiter = ';'

In [35]:
df = pd.read_excel(io=FilePath, sheet_name=SheetName, usecols=Range, skiprows=RowsToSkip)
print(df)

   Col_A  Col_B                                              Col_C
0  Luffy    123  Lolipop;Donut chocolate;Plain bagel with cream...
1   Alex    456                Excavator;Bulldozer;Helicopter;Boat

In [36]:
df2 = df.drop(ColNameToRow, axis=1).join(
    (
    df[ColNameToRow]
    .str
    .split(Delimiter, expand=True)
    .stack()
    .reset_index(drop=True, level=1)
    .rename(ColNameToRow)    
    )
)

print(df2)

   Col_A  Col_B                          Col_C
0  Luffy    123                        Lolipop
0  Luffy    123                Donut chocolate
0  Luffy    123  Plain bagel with cream cheese
1   Alex    456                      Excavator
1   Alex    456                      Bulldozer
1   Alex    456                     Helicopter
1   Alex    456                           Boat

In [37]:
#prepare excel file for output
FilePathOut = r"C:\Z\ExcelOut.xlsx"
SheetNameOut = 'Sheet1'

In [38]:
df2.to_excel(FilePathOut, sheet_name=SheetNameOut, index=False)